.stop-scrolling{
    overflow: hidden;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
 }

.image-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    background-color:rgba(217,217,217,0.15);
}

/*Popup Start*/
.popup{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}

.popup-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.popup-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80%;
    height: 50%;
    border-radius: 8px;
    gap:15px;
}

.popup-text{
    color:#fff;
    font-size: 20px;
}

.popup-lang{
    padding: 15px 45px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
    text-align: center;
    border: 1px solid #fff;
    color:#fff;
}

.popup-lang img{
    width: 35px;
    height: 35px;
}

.disablePopup{
    display: none;
}
.showPopupButton{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .4rem;
    box-sizing: border-box;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .25rem .50rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.showPopupButton:hover {
    background-color: rgb(249,250,251);
}

.showPopupButton:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.showPopupButton:focus-visible {
    box-shadow: none;
}
/*End Popup*/

.menu-block{
    position: relative;
    width: 100%;
    height: 260px;
    background-image: url("../assets/images/logoBackground/background-min.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.change-lang{
    position: absolute;
    top: 5px;
    right: 5px;
}

.menu-background-logo {
    width: 100%;
    height: 100%;
    background-size: 240px;
    background-image: url("../assets/images/logo/logo-min.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(35,31,32,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    text-align: center;
}

.header-title h1 {
    font-size: 56px;
    color:#fff;
    font-family: 'Playfair Display', serif;
}

.section-title {
    padding: 8px 0 12px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #32343E;
    font-family: 'Playfair Display', serif;
}

.small-title {
    font-size: 14px;
}

section{
    background-color: #fff;
    padding: 2px 10px 25px 10px;
}

.category-block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dish{
    margin: 25px 5px 0 5px;
    background: #fff;
    box-shadow: 21px 21px 53px rgba(150, 150, 154, 0.15);
    border-radius: 7px;
    width: calc(33.33% - 12px);
}

.dish-image-background {
    position: relative;
    text-align: center;
    width: 100%;
    height: 20vw;
    background-color:#EBEBEB ;
    border-radius: 7px;
}

.dish-image-background img {
    position: absolute;
    left: 3px;
    bottom: 3px;
    width: calc(100% - 6px);
}

.dish-info {
    height: calc(100% - 20vw);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dish-title{
    font-weight: 700;
    font-size: 6px;
    padding-top: 1px;
}

.dish-description{
    color: rgba(100, 105, 130, 1);
    font-weight: 400;
    font-size: 5px;
    padding-top: 1px;
}

.dish-price{
    font-size: 6px;
    font-weight: 700;
    padding-top: 1px;
}

footer{
    padding: 25px 40px 25px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
footer p{
    margin: 0 auto;
    font-weight: 700;
    font-size: 10px;
    color:#000;
    font-family: 'Playfair Display', serif;
}

.logo img{
    width: 100px;
}

footer div img{
    width: 140px;
    height: 35px;
}

@media screen and (min-width: 360px){
    .section-title{
        font-size: 18px;
    }
    .small-title{
        font-size: 16px;
    }
    .dish-title{
        font-size: 10px;
    }
    .dish-description{
        font-size: 8px;
    }
    .dish-price{
        font-size: 12px;
    }

    .dish-image-background img {
        left: 8px;
        width: calc(100% - 16px);
    }

    .dish{
        margin-top: 40px;
    }
}
@media screen and (min-width: 475px){
    .section-title{
        font-size: 24px;
    }
    .small-title{
        font-size: 20px;
    }
    .dish-title{
        font-size: 12px;
    }
    .dish-description{
        font-size: 10px;
    }
    .dish-price{
        font-size: 16px;
    }
    .dish{
        margin-top: 45px;
    }
}
@media screen and (min-width: 575px){
    .section-title{
        padding: 12px 0 14px 0;
        font-size: 28px;
    }
    .small-title{
        font-size: 24px;
    }
    .dish{
        margin-top: 75px;
    }
}
@media screen and (min-width: 768px) {
    .dish{
        margin-top: 100px;
    }
}
@media screen and (min-width: 1024px ){
    section{
        padding: 25px 40px 100px 40px;
    }
    footer{
        padding: 46px 81px 25px 81px;
        flex-direction: row;
        gap: 80px;
    }
    footer p{
        font-size: 13px;
    }
    footer div img{
        width: unset;
        height: unset;
    }

    .menu-block {
        height: 560px;
    }
    .menu-background-logo {
        background-size: 540px;
    }
    .header-title h1 {
        font-size: 128px;
    }
    .logo img {
        width: unset;
        height: unset;
    }

    .dish{
        margin: 110px 10px 0 10px;
        width: calc(30% - 20px);
        border-radius: 18px;
    }
    .section-title{
        padding: 30px 0 40px 0;
        font-size: 44px;
    }
    .small-title{
        font-size: 40px;
    }
    .dish-title{
        font-size: 14px;
        padding: 3px;
    }
    .dish-description{
        font-size: 12px;
        padding: 3px;
    }
    .dish-price{
        font-size: 18px;
        padding: 3px;
    }
    .dish-image-background {
        height: 205px;
        border-radius: 7px;
    }

    .dish-image-background img {
        left: 10px;
        bottom: 10px;
        width: calc(100% - 20px);
    }

    .dish-info {
        height: calc(100% - 205px);
        padding: 10px;
    }
}
